.header__wrapper {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;

  .header__title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-left: 22px;
    margin-right: auto;
    text-decoration: none;
    color: black;
  }
  .header__link {
    margin-right: 22px;
  }
  .header__signIn {
    background: none;
    border: none;
    width: 109px;
    height: 51px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    cursor: pointer;
  }
  .header__signUp {
    width: 109px;
    height: 51px;
    background: none;
    border: 1px solid #52c41a;
    border-radius: 5px;
    color: #52c41a;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    cursor: pointer;
  }
  .header__withAuth {
    display: flex;
    align-items: center;
    .header__createArticle {
      width: 112px;
      height: 31px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid #52c41a;
      color: #52c41a;
      font-size: 14px;
      line-height: 22px;
      margin-right: 26px;
    }
    .header__profile {
      display: flex;
      align-items: center;
      margin-right: 22px;
      text-decoration: none;
      color: black;
      .header__username {
        font-size: 18px;
        line-height: 28px;
        margin-right: 13px;
      }
      .header__image {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 46px;
          height: 46px;
        }
      }
    }
    .header__logOut {
      margin-right: 22px;
      width: 109px;
      height: 51px;
      font-size: 18px;
      line-height: 28px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.75);
      background-color: white;
      cursor: pointer;
    }
  }
}
